<nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../images/train.png" width="30" height="30" class="logo d-inline-block align-top" alt="TickeTac">
      TickeTac
    </a>
    <div class="d-flex d-inline-flex">
      <p class="login  mx-2">Connexion</p>
      <p class="mytrip  mx-2">My last Trip</p>
    </div>
  </nav>
  